
$primary: #3292a6;
$primary-overlay: rgba(50,146,166,0.8);

body {
    padding-top: 125px;
    position: relative;
}

.navbar {
    box-shadow: 2px 2px 5px $primary;
    opacity: 0.9;
    background: #fff;

    .nav-item {
        font-size: 1.2rem;
        padding-right: 1.4rem;
    }

}

#showcase {
    position: relative;
    background: url('../img/mountains.jpg');
    min-height: 600px;

    .primary-overlay {
        background: $primary-overlay;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.info-header {
    width: 50%;
    margin: auto;
    border-bottom: 1px #ddd solid;
}

#about {
    padding-top: 125px !important;
}

#authors {
    padding-top: 125px;
    img {
        margin-top: -60px;
    }
    .card:hover {
        background: $primary;
        color: white;
        
        .fab {
            color: white;
        }
        h5 {
            color: white;
        }
    }

   
}

#contact {
    padding-top: 125px !important;
}

#bookpic {
    max-height: 650px;
}

// scss-docs-start import-stack
// Configuration
@import "functions";
@import "variables";
@import "mixins";
@import "utilities";

// Layout & components
@import "root";
@import "reboot";
@import "type";
@import "images";
@import "containers";
@import "grid";
@import "tables";
@import "forms";
@import "buttons";
@import "transitions";
@import "dropdown";
@import "button-group";
@import "nav";
@import "navbar";
@import "card";
@import "./helpers/position";
@import "accordion";
// @import "breadcrumb";
// @import "pagination";
// @import "badge";
// @import "alert";
// @import "progress";
// @import "list-group";
// @import "close";
// @import "toasts";
// @import "modal";
// @import "tooltip";
// @import "popover";
// @import "carousel";
// @import "spinners";

// Helpers
//@import "helpers";

// Utilities
@import "utilities/api";
// scss-docs-end import-stack

@media(max-width: 768px) {
    #showcase {
        min-height: 500px;

        h1 {
            font-size: 4rem;
        }
    }
    
}

.mb-resp {
    margin-bottom: 1rem;
}